html, body {
  color: #111;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
}
body {
  background-image: linear-gradient(#455, #322);
}

* {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 7.5em;
  padding-bottom: 15em;
}

h1 {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 4rem;
  text-shadow:
     1px  1px 2px black,
    -1px  1px 2px black,
    -1px -1px 2px black,
     1px -1px 2px black;
  letter-spacing: -1px;
}

input[type=text] {
  display: block;
  font-size: 1.2rem;
  border: none;
  width: 50vw;
  padding: 7px 1em 7px 1em;
  margin: 1em 0 1.5em 0;
}

ul {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: stretch;
}

li {
  list-style-type: none;
  border: 1px solid #222;
  box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  background-color: #eee;
  margin: 0.5rem;
  padding: 0;

  min-height: 4em;
  min-width: 40vw;

  display: flex;
  flex-flow: column nowrap;

  transition: background-color 0.5s;
}
li:hover {
  border-color: #366;
  box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.6), 0 0 10px 0px #699;
}
li.highlight {
  background-color: #888;
}

li a {
  color: inherit;
  text-decoration: none;

  width: 100%;
  height: 100%;

  padding: 0.5em 0.5em 0.5em 1.5em;
}


.info-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

li .filename {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8em;
}

li .title {
  font-weight: bold;
}

li .requester::before {
  content: "(Requested by ";
  font-weight: normal;
}
li .requester {
  color: #444;
  font-style: italic;
  white-space: nowrap;
  display: block;
  font-weight: bolder;
}
li .requester::after {
  content: ")";
  font-weight: normal;
}
